{% extends 'nav.html' %}
{% load staticfiles %}
{% block content %}
<script src="{% static 'js/comment.js' %}" type="text/javascript"> </script>
</br></br></br>
<div align='center'>
    <form method='POST' class="comments" action='' aid="{{ article_id }}">
        {% csrf_token %}
        <table>
            {% if comments %}
                {% for comment in comments %}
                    <tr>
                        <td>
                            <p class="com">{{ comment.comment }} </br> by {{ comment.user }} on {{ comment.date }}</p>
                        </td>
                    </tr>
                {% endfor %}
            </tr>
            {% endif %}
            <tr>
                <td>
                    <h4 id='register' class='which'>Comment:</h4>{{ form.comment }}
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
