#intro{
    background-color: #3b5998;
    color: #ffffff;
}
#about{
    background-color: #00933B;
}
#services
{
    background-color: #F2B50F;
}
#contact
{
    background-color: #dfe3ee;
}
#nav
{
    background-color: #fff;
}
.btn-custom {
        background-color: #FFFFFF;
        border-color: #CCCCCC;
        color: #333333;
            }
.btn-custom:hover {
        background-color: #FFF;
        border-color: #fff;
        color: #333333;
        }
