#intro{
    background-color: #3b5998;
    color: #ffffff;
}
#about{
    background-color: #00933B;
}
#services
{
    background-color: #F2B50F;
}
#contact
{
    background-color: #dfe3ee;
}
#nav
{
    background-color: #fff;
}
